# {{ ansible_managed | comment }}
# /etc/ntp.conf, configuration for ntpd; see ntp.conf(5) for help

driftfile {{ ntp_config_driftfile }}


# Leap seconds definition provided by tzdata
{% if ntp_leap_seconds_enabled %}
# Leap seconds definition provided by tzdata
leapfile {{ ntp_leap_seconds_file }}
{% endif %}

{% if ntp_lignore_ipv6 %}
interface ignore ipv6
{% endif %}

# Enable this if you want statistics to be logged.
#statsdir /var/log/ntpsec/

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

{% for server in ntp_config_server %}
# You do need to talk to an NTP server or two (or three).
server {{ server }}
{% endfor %}

{% if ntp_config_statistics %}
statistics {{ ntp_config_statistics }}
{% endif %}

{% for filegen in ntp_config_filegen %}
filegen {{ filegen }}
{% endfor %}

{% for listen in ntp_config_listen %}
interface listen {{ listen }}
{% endfor %}

# pool.ntp.org maps to about 1000 low-stratum NTP servers.  Your server will
# pick a different set every time it starts up.  Please consider joining the
# pool: <http://www.pool.ntp.org/join.html>
# pool 0.debian.pool.ntp.org iburst
# pool 1.debian.pool.ntp.org iburst
# pool 2.debian.pool.ntp.org iburst
# pool 3.debian.pool.ntp.org iburst


# Access control configuration; see /usr/share/doc/ntp-doc/html/accopt.html for
# details.  The web page <http://support.ntp.org/bin/view/Support/AccessRestrictions>
# might also be helpful.
#
# Note that "restrict" applies to both servers and clients, so a configuration
# that might be intended to block requests from certain clients could also end
# up blocking replies from your own upstream servers.

{% for restrict in ntp_config_restrict %}
restrict {{ restrict }}
{% endfor %}

# By default, exchange time with everybody, but don't allow configuration.
#restrict -4 default kod notrap nomodify nopeer noquery limited
#restrict -6 default kod notrap nomodify nopeer noquery limited

# Local users may interrogate the ntp server more closely.
#restrict 127.0.0.1
#restrict ::1

# Needed for adding pool entries
#restrict source notrap nomodify noquery

# Clients from this (example!) subnet have unlimited access, but only if
# cryptographically authenticated.
#restrict 192.168.123.0 mask 255.255.255.0 notrust

{% if ntp_config_crypto %}
crypto
{% endif %}

{% if ntp_config_includefile %}
includefile  {{ ntp_config_includefile_path }}
{% endif %}

{% if ntp_config_keys %}
keys {{ ntp_config_keys_path }}
{% endif %}

# If you want to provide time to your local subnet, change the next line.
# (Again, the address is an example only.)
#broadcast 192.168.123.255

# If you want to listen to time broadcasts on your local subnet, de-comment the
# next lines.  Please do this only if you trust everybody on the network!
#disable auth
#broadcastclient

{% if ntp_config_trustedkey %}
trustedkey {{ ntp_config_trustedkey }}
{% endif %}

{% if ntp_config_requestkey %}
requestkey  {{ ntp_config_requestkey }}
{% endif %}

{% if ntp_config_controlkey %}
controlkey {{ ntp_config_controlkey }}
{% endif %}

{% if ntp_config_broadcast %}
broadcast {{ ntp_config_broadcast }}
{% endif %}

{% if ntp_config_broadcastclient %}
broadcastclient
{% endif %}

{% if ntp_config_multicastclient %}
multicastclient {{ ntp_config_multicastclient }}
{% endif %}

{% if ntp_config_disablemonitor %}
disable monitor
{% endif %}